#bs-example-navbar-collapse-1 {
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
}


#set li a:active{
    color:#ffffff;
}

.navbar{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
}

body { padding-top: 85px; }

@media screen and (max-width: 768px) {
    body { padding-top: 0; }
    .navbar{
        position: static;
        z-index: 99999;
        width: 100%;
    }
}