#bs-example-navbar-collapse-1 {
    position: relative;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 2;
}

.navbar{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
}

.nav .nav-button{
    white-space: normal;
}

.nav .navbar-brand{
    float: left;
    width: auto;
    border: none;
    display: block;
}

#bs-example-navbar-collapse-1 .nav li .active > a{
    background-color: lightgrey;
}

body { padding-top: 85px; }

@media screen and (max-width: 768px) {
    body { padding-top: 0; }
    .navbar{
        position: static;
        z-index: 99999;
        width: 100%;
    }
}

.navbar-inverse{
    border-radius: 0 0 4px 4px;
}

.dropdown-toggle{
    margin-left: -13px;
}

.glyphicon-bell{
    margin-left: -13px;
}